body {
  background-color: #ffffff;
  padding: 10px 30px 20px 60px;
}
  
  
/*headings*/
h1, h2 {
  font-family: 'DM Serif Text', serif;   
  line-height: 20px;
}


.item{
  display:inline-block;
}

td {
  padding: 5px 40px 5px 20px;
  vertical-align: middle;
  text-align: center;
  font-family: Mulish, Sans-serif; 
}

.caption{
  text-align: center;
}


.child, .teen, .college{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: no;
  margin: 10px 1px 10px 1px;
  object-fit: cover;
}


img.child, img.teen, img.college {
  opacity: 0.5;
}

 
img:hover.child, img:hover.teen, img:hover.college {
  opacity: 1.0;
}
  
.childpic, .teenpic, .collegepic{
  vertical-align: middle;
  position: relative;
  width: 280px;
  height: 230px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10%;
  background-color: no;
  margin: 0;
}



p, blockquote{
  font-family: Mulish, Sans-serif;
  font-weight: 200;
  line-height: 25px;
}



.docu {
  font-family: Mulish, Sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 400;
  font-family: Mulish, Sans-serif;
  color: black;
  font-size: 14px;
  background: linear-gradient(0deg, gray, gray) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  text-decoration:none;
  padding-bottom: 2px;
  --bg-h: 2px;
  color: inherit;
  line-height: 2.5;
}


a.docu:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.back {
  font-family: Mulish, Sans-serif;
  color: black;
  font-size: 16px;
  background: linear-gradient(0deg, gray, gray) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  text-decoration:none;
  padding-bottom: 2px;
  --bg-h: 2px;
  color: inherit;
  line-height: 2.5;
}


a.back:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
