body {
  background-color: #ffffff;
  padding: 20px 40px 20px 40px;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:1px solid gray;
}


.header{
  text-align: center;
}


.div1{
  float:left;
  clear:both;
  padding-right: 50px;
  margin-right: 20px;
  padding-left:10px;
  margin-bottom: 30px;
}

.div2{
  margin-left: 10px;
 
}


/*headings*/
h1{
  font-family: 'DM Serif Text', serif;   
  line-height: 25px;
}


h2, h4 {
  font-family: Mulish, Sans-serif; 
  line-height: 25px;
  padding: 10px 10px 10px 0px; 
}



h4.seminars {
  font-family: Mulish, Sans-serif; 
  font-style: italic;
  padding: 1px 1px 1px 0px;
  line-height: 25px;	
}


p {
  font-family: Mulish, Sans-serif; 
  line-height: 25px;
  padding: 10px 10px 10px 0px;	
	
}


p.contact {
  font-family: Mulish, Sans-serif; 
  line-height: 25px;
  padding: 10px 10px 10px 50px;
  
}

td {
  padding: 5px 40px 5px 20px;
  vertical-align: middle;
  text-align: left;
  font-family: Muli, Sans-serif; 
}



.socmed {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: no;
  padding-left: -3px;
}



p.company, p.grade_level {
  font-family: Mulish, Sans-serif; 
  font-style: italic;
  line-height: 15px;
  padding: 1px 1px 1px 0px;
}


p.place, p.school, p.org {
  font-family: Mulish, Sans-serif; 
  line-height: 15px;
  padding: 1px 1px 1px 0px;

}


hr {
  border: 1px solid black;
}


ul{
  font-family: Mulish, Sans-serif; 
  line-height: 25px;
  padding: 0px 0px 0px 10px;
}


li{
  font-family: Mulish, Sans-serif; 
  line-height: 5px;
  list-style-position: inside;
  padding: 10px 10px 10px 0px;
}


.message {
  font-family: Mulish, Sans-serif;
  color: black;
  font-size: 14px;
  background: linear-gradient(0deg, gainsboro, gainsboro) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  text-decoration:none;

}

.back {
  font-family: Mulish, Sans-serif;
  color: black;
  font-size: 14px;
  background: linear-gradient(0deg, gray, gray) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  text-decoration:none;
  padding-bottom: 2px;
  --bg-h: 2px;
  color: inherit;
  line-height: 2.5;
}


a.back:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}


a.message:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}